In [ ]:
!pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (4.9.0)
Requirement already satisfied: requests<3,>=2.27.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.27.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (3.2.0)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)

In [ ]:
!pip install tweepy --upgrade

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Collecting tweepy
  Downloading tweepy-4.9.0-py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 2.7 MB/s
Collecting requests<3,>=2.27.0
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 929 kB/s
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.27.0->tweepy) (1.24.3)
Installing collected packages: requests, tweepy
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: tweepy
    Found existing installation: tweepy 3.10.0
    Uninstalling tweepy-3.10.0:
      Successfully uninstalled tweepy-3.10.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed requests-2.27.1 tweepy-4.9.0

In [ ]:
! pip install tweet-preprocessor

Collecting tweet-preprocessor
  Downloading tweet_preprocessor-0.6.0-py3-none-any.whl (27 kB)
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [ ]:
!pip install spacy-langdetect

Collecting spacy-langdetect
  Downloading spacy_langdetect-0.1.2-py3-none-any.whl (5.0 kB)
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from spacy-langdetect) (3.6.4)
Collecting langdetect==1.0.7
  Downloading langdetect-1.0.7.zip (998 kB)
     |████████████████████████████████| 998 kB 5.1 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from langdetect==1.0.7->spacy-langdetect) (1.15.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (0.7.1)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (8.12.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (1.11.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (1.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (57.4.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest->spacy-langdetect) (21.4.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.7-py3-none-any.whl size=993431 sha256=c2a4cf2a5ce396016d1667a330a97d1d73219af6134fb22173ab9b07d1738a64
  Stored in directory: /root/.cache/pip/wheels/89/79/3b/9885ae7f4308f73c514f96d8574d40d7d8173a27731b674013
Successfully built langdetect
Installing collected packages: langdetect, spacy-langdetect
Successfully installed langdetect-1.0.7 spacy-langdetect-0.1.2

In [ ]:
from tweepy import OAuthHandler

import nltk
import spacy
from spacy_langdetect import LanguageDetector
from nltk.corpus import stopwords
import preprocessor as p
import tweepy 
import json
import pandas as pd
import csv
import re
from textblob import TextBlob
import string
import regex as re
import os
import time
from datetime import datetime
from tweepy import Client
from textblob import TextBlob

In [ ]:
print(tweepy.__version__)

4.9.0

In [ ]:
# Twitter credentials
# Obtain them from your twitter developer account
api_key = 'f480rt4C2qwxWM0sk1FILrRjp'
api_secret = 'Hd6aWlaZMV8w0hTHpd3NvIcRlSAUbf4TlfXkRVl7XwUGmlVZTc'
access_key = '1524266583686017025-BtwRNUFf8D9cqTwlSgwWHFiboJtov0'
access_secret = 'zFqdqTjF6iiDdB3RU0tXJexSZq0QVTlUs8Z2M8QbYRNrk'
bearer_token = 'AAAAAAAAAAAAAAAAAAAAANLecQEAAAAAqeNIjyNnoxMUebzlIJfxUF4C8yU%3D2M3QuzL8JWkxTfR0Rzp2TPU8WAyio1vx7cBpfMU3MgkEoNr0GW'
client = tweepy.Client(bearer_token)

In [ ]:
#response = client.search_recent_tweets("elonmusk")
# The method returns a Response object, a named tuple with data, includes,
# errors, and meta fields
#print(response.meta)

# In this case, the data field of the Response returned is a list of Tweet
# objects
#tweets = response.data

# Each Tweet object has default ID and text fields
#for tweet in tweets:
    #print(tweet.id)
    #print(tweet.text)

# By default, this endpoint/method returns 10 results
# # You can retrieve up to 100 Tweets by specifying max_results
# response = client.search_recent_tweets("Tweepy", max_results=100

In [ ]:
# Define a pandas dataframe to store the date:
db_tweets = pd.DataFrame(columns = ['tweetID', 'AuthorID', 'lang','created_at', 'text'])

In [ ]:
def scraptweets(search_words, db_tweets, no_tweets):
    
    # Define a for-loop to generate tweets at regular intervals
    # We cannot make large API call in one go. Hence, let's try T times
                            
    start_run = time.time()
    
    # Collect tweets using the Cursor object
    # .Cursor() returns an object that you can iterate or loop over to access the data collected.
    # Each item in the iterator has various attributes that you can access to get information about each tweet
    tweets = tweepy.Paginator(client.search_recent_tweets, query=search_words, 
                          tweet_fields=['id', 'created_at', 'author_id'], 
                          user_fields=['public_metrics', 'location', 'username'],
                          max_results=100).flatten(limit=500)
    
    for tweet in tweets:
      # Pull the values
      text=tweet.text
      author_id = tweet.author_id
      tweetID = tweet.id
      lang=tweet.lang
      created_at=tweet.created_at
            
      # Add the 11 variables to the empty list - ith_tweet:
      ith_tweet = [tweetID, author_id, lang, created_at, text]
      # Append to dataframe - db_tweets
      try:
        db_tweets.loc[len(db_tweets)] = ith_tweet
      except Exception as e:
        print(e)
      # increase counter - noTweets  
      no_tweets += 1
    
    # Run ended:
    end_run = time.time()
    duration_run = round((end_run-start_run)/60, 2)
    
    print('no. of tweets scraped for run 1 is {}'.format(no_tweets))
    print('time take for 1 run to complete is {} mins'.format(duration_run))
    
    return no_tweets

In [ ]:
num_runs=981
tweets=0
for i in range(num_runs):
  search_words = '#Hospitalstay OR #hospitalvisit OR #emergencyroomvisit OR #ERvisit OR #Hospitalexperience OR #patientexperience OR #Health OR #patient OR #trauma OR #surgery OR #critical OR #procedure OR #symptoms OR #pain OR #medicine'
  # Call the function scraptweets
  tweets=scraptweets(search_words, db_tweets, tweets)

  #new search word string
  search_words = 'Hospital stay OR hospital visit OR emergencyroom visit OR ER visit OR Hospital experience OR patient,  experience OR Health OR patient OR trauma OR surgery OR critical OR procedure OR symptoms OR pain OR medicine'
  # Call the function scraptweets
  tweets=scraptweets(search_words, db_tweets, tweets)

  #new search word string
  search_words = 'Hospital OR clinic OR urgent care OR emergency room OR ED OR Nurse OR doctor OR medical professional OR registered nurse OR dr OR patient rep OR patinet engagement OR Treatment OR treat OR assist OR care OR Surgery OR IV OR blood OR ICU OR NICU OR urgent care OR emergency room OR triage OR ED OR bill OR doctor OR bill OR health insurance OR Monitor OR heal OR recover OR care OR cure OR dying OR dead OR sicker OR sick OR ill OR illness OR condition '
  # Call the function scraptweets
  tweets=scraptweets(search_words, db_tweets, tweets)

no. of tweets scraped for run 1 is 500
time take for 1 run to complete is 0.07 mins
no. of tweets scraped for run 1 is 1000
time take for 1 run to complete is 0.07 mins
no. of tweets scraped for run 1 is 1500
time take for 1 run to complete is 0.09 mins
no. of tweets scraped for run 1 is 2000
time take for 1 run to complete is 0.09 mins
no. of tweets scraped for run 1 is 2500
time take for 1 run to complete is 0.09 mins
no. of tweets scraped for run 1 is 3000
time take for 1 run to complete is 0.21 mins
no. of tweets scraped for run 1 is 3500
time take for 1 run to complete is 0.2 mins
no. of tweets scraped for run 1 is 4000
time take for 1 run to complete is 0.17 mins
no. of tweets scraped for run 1 is 4500
time take for 1 run to complete is 0.12 mins
no. of tweets scraped for run 1 is 5000
time take for 1 run to complete is 0.12 mins
no. of tweets scraped for run 1 is 5500
time take for 1 run to complete is 0.13 mins
no. of tweets scraped for run 1 is 6000
time take for 1 run to complete is 0.14 mins
no. of tweets scraped for run 1 is 6500
time take for 1 run to complete is 0.14 mins
no. of tweets scraped for run 1 is 7000
time take for 1 run to complete is 0.15 mins
no. of tweets scraped for run 1 is 7500
time take for 1 run to complete is 0.15 mins
no. of tweets scraped for run 1 is 8000
time take for 1 run to complete is 0.16 mins
no. of tweets scraped for run 1 is 8500
time take for 1 run to complete is 0.17 mins
no. of tweets scraped for run 1 is 9000
time take for 1 run to complete is 0.18 mins
no. of tweets scraped for run 1 is 9500
time take for 1 run to complete is 0.18 mins
no. of tweets scraped for run 1 is 10000
time take for 1 run to complete is 0.18 mins
no. of tweets scraped for run 1 is 10500
time take for 1 run to complete is 0.19 mins
no. of tweets scraped for run 1 is 11000
time take for 1 run to complete is 0.19 mins
no. of tweets scraped for run 1 is 11500
time take for 1 run to complete is 0.2 mins
no. of tweets scraped for run 1 is 12000
time take for 1 run to complete is 0.21 mins
no. of tweets scraped for run 1 is 12500
time take for 1 run to complete is 0.21 mins
no. of tweets scraped for run 1 is 13000
time take for 1 run to complete is 0.22 mins
no. of tweets scraped for run 1 is 13500
time take for 1 run to complete is 0.22 mins
no. of tweets scraped for run 1 is 14000
time take for 1 run to complete is 0.23 mins
no. of tweets scraped for run 1 is 14500
time take for 1 run to complete is 0.24 mins
no. of tweets scraped for run 1 is 15000
time take for 1 run to complete is 0.39 mins
no. of tweets scraped for run 1 is 15500
time take for 1 run to complete is 0.35 mins
no. of tweets scraped for run 1 is 16000
time take for 1 run to complete is 0.25 mins
no. of tweets scraped for run 1 is 16500
time take for 1 run to complete is 0.27 mins
no. of tweets scraped for run 1 is 17000
time take for 1 run to complete is 0.27 mins
no. of tweets scraped for run 1 is 17500
time take for 1 run to complete is 0.27 mins
no. of tweets scraped for run 1 is 18000
time take for 1 run to complete is 0.28 mins
no. of tweets scraped for run 1 is 18500
time take for 1 run to complete is 0.29 mins
no. of tweets scraped for run 1 is 19000
time take for 1 run to complete is 0.29 mins
no. of tweets scraped for run 1 is 19500
time take for 1 run to complete is 0.3 mins
no. of tweets scraped for run 1 is 20000
time take for 1 run to complete is 0.3 mins
no. of tweets scraped for run 1 is 20500
time take for 1 run to complete is 0.32 mins
no. of tweets scraped for run 1 is 21000
time take for 1 run to complete is 0.31 mins
no. of tweets scraped for run 1 is 21500
time take for 1 run to complete is 0.32 mins
no. of tweets scraped for run 1 is 22000
time take for 1 run to complete is 0.33 mins
no. of tweets scraped for run 1 is 22500
time take for 1 run to complete is 0.33 mins
no. of tweets scraped for run 1 is 23000
time take for 1 run to complete is 0.34 mins
no. of tweets scraped for run 1 is 23500
time take for 1 run to complete is 0.35 mins
no. of tweets scraped for run 1 is 24000
time take for 1 run to complete is 0.36 mins
no. of tweets scraped for run 1 is 24500
time take for 1 run to complete is 0.36 mins
no. of tweets scraped for run 1 is 25000
time take for 1 run to complete is 0.36 mins
no. of tweets scraped for run 1 is 25500
time take for 1 run to complete is 0.37 mins
no. of tweets scraped for run 1 is 26000
time take for 1 run to complete is 0.37 mins
no. of tweets scraped for run 1 is 26500
time take for 1 run to complete is 0.38 mins
no. of tweets scraped for run 1 is 27000
time take for 1 run to complete is 0.39 mins
no. of tweets scraped for run 1 is 27500
time take for 1 run to complete is 0.41 mins
no. of tweets scraped for run 1 is 28000
time take for 1 run to complete is 0.41 mins
no. of tweets scraped for run 1 is 28500
time take for 1 run to complete is 0.41 mins
no. of tweets scraped for run 1 is 29000
time take for 1 run to complete is 0.41 mins
no. of tweets scraped for run 1 is 29500
time take for 1 run to complete is 0.42 mins
no. of tweets scraped for run 1 is 30000
time take for 1 run to complete is 0.43 mins
no. of tweets scraped for run 1 is 30500
time take for 1 run to complete is 0.45 mins
no. of tweets scraped for run 1 is 31000
time take for 1 run to complete is 0.44 mins
no. of tweets scraped for run 1 is 31500
time take for 1 run to complete is 0.44 mins
no. of tweets scraped for run 1 is 32000
time take for 1 run to complete is 0.45 mins
no. of tweets scraped for run 1 is 32500
time take for 1 run to complete is 0.46 mins
no. of tweets scraped for run 1 is 33000
time take for 1 run to complete is 0.46 mins
no. of tweets scraped for run 1 is 33500
time take for 1 run to complete is 0.48 mins
no. of tweets scraped for run 1 is 34000
time take for 1 run to complete is 0.48 mins
no. of tweets scraped for run 1 is 34500
time take for 1 run to complete is 0.49 mins
no. of tweets scraped for run 1 is 35000
time take for 1 run to complete is 0.52 mins
no. of tweets scraped for run 1 is 35500
time take for 1 run to complete is 0.52 mins
no. of tweets scraped for run 1 is 36000
time take for 1 run to complete is 0.52 mins
no. of tweets scraped for run 1 is 36500
time take for 1 run to complete is 0.51 mins
no. of tweets scraped for run 1 is 37000
time take for 1 run to complete is 0.55 mins
no. of tweets scraped for run 1 is 37500
time take for 1 run to complete is 0.58 mins
no. of tweets scraped for run 1 is 38000
time take for 1 run to complete is 0.53 mins
no. of tweets scraped for run 1 is 38500
time take for 1 run to complete is 0.53 mins
no. of tweets scraped for run 1 is 39000
time take for 1 run to complete is 0.55 mins
no. of tweets scraped for run 1 is 39500
time take for 1 run to complete is 0.56 mins
no. of tweets scraped for run 1 is 40000
time take for 1 run to complete is 0.57 mins
no. of tweets scraped for run 1 is 40500
time take for 1 run to complete is 0.55 mins
no. of tweets scraped for run 1 is 41000
time take for 1 run to complete is 0.57 mins
no. of tweets scraped for run 1 is 41500
time take for 1 run to complete is 0.57 mins
no. of tweets scraped for run 1 is 42000
time take for 1 run to complete is 0.57 mins
no. of tweets scraped for run 1 is 42500
time take for 1 run to complete is 0.58 mins
no. of tweets scraped for run 1 is 43000
time take for 1 run to complete is 0.6 mins
no. of tweets scraped for run 1 is 43500
time take for 1 run to complete is 0.6 mins
no. of tweets scraped for run 1 is 44000
time take for 1 run to complete is 0.59 mins
no. of tweets scraped for run 1 is 44500
time take for 1 run to complete is 0.6 mins
no. of tweets scraped for run 1 is 45000
time take for 1 run to complete is 0.61 mins
no. of tweets scraped for run 1 is 45500
time take for 1 run to complete is 0.61 mins
no. of tweets scraped for run 1 is 46000
time take for 1 run to complete is 0.62 mins
no. of tweets scraped for run 1 is 46500
time take for 1 run to complete is 0.62 mins
no. of tweets scraped for run 1 is 47000
time take for 1 run to complete is 0.63 mins
no. of tweets scraped for run 1 is 47500
time take for 1 run to complete is 0.63 mins
no. of tweets scraped for run 1 is 48000
time take for 1 run to complete is 0.63 mins
no. of tweets scraped for run 1 is 48500
time take for 1 run to complete is 0.64 mins
no. of tweets scraped for run 1 is 49000
time take for 1 run to complete is 0.65 mins
no. of tweets scraped for run 1 is 49500
time take for 1 run to complete is 0.65 mins
no. of tweets scraped for run 1 is 50000
time take for 1 run to complete is 0.73 mins
no. of tweets scraped for run 1 is 50500
time take for 1 run to complete is 0.67 mins
no. of tweets scraped for run 1 is 51000
time take for 1 run to complete is 0.68 mins
no. of tweets scraped for run 1 is 51500
time take for 1 run to complete is 0.68 mins
no. of tweets scraped for run 1 is 52000
time take for 1 run to complete is 0.68 mins
no. of tweets scraped for run 1 is 52500
time take for 1 run to complete is 0.69 mins
no. of tweets scraped for run 1 is 53000
time take for 1 run to complete is 0.69 mins
no. of tweets scraped for run 1 is 53500
time take for 1 run to complete is 0.71 mins
no. of tweets scraped for run 1 is 54000
time take for 1 run to complete is 0.71 mins
no. of tweets scraped for run 1 is 54500
time take for 1 run to complete is 0.73 mins
no. of tweets scraped for run 1 is 55000
time take for 1 run to complete is 0.72 mins
no. of tweets scraped for run 1 is 55500
time take for 1 run to complete is 0.73 mins
no. of tweets scraped for run 1 is 56000
time take for 1 run to complete is 0.75 mins
no. of tweets scraped for run 1 is 56500
time take for 1 run to complete is 0.75 mins
no. of tweets scraped for run 1 is 57000
time take for 1 run to complete is 0.76 mins
no. of tweets scraped for run 1 is 57500
time take for 1 run to complete is 0.76 mins
no. of tweets scraped for run 1 is 58000
time take for 1 run to complete is 0.76 mins
no. of tweets scraped for run 1 is 58500
time take for 1 run to complete is 0.78 mins
no. of tweets scraped for run 1 is 59000
time take for 1 run to complete is 0.81 mins
no. of tweets scraped for run 1 is 59500
time take for 1 run to complete is 0.8 mins
no. of tweets scraped for run 1 is 60000
time take for 1 run to complete is 0.78 mins
no. of tweets scraped for run 1 is 60500
time take for 1 run to complete is 0.79 mins
no. of tweets scraped for run 1 is 61000
time take for 1 run to complete is 0.8 mins
no. of tweets scraped for run 1 is 61500
time take for 1 run to complete is 0.81 mins
no. of tweets scraped for run 1 is 62000
time take for 1 run to complete is 0.81 mins
no. of tweets scraped for run 1 is 62500
time take for 1 run to complete is 0.81 mins
no. of tweets scraped for run 1 is 63000
time take for 1 run to complete is 0.81 mins
no. of tweets scraped for run 1 is 63500
time take for 1 run to complete is 0.82 mins
no. of tweets scraped for run 1 is 64000
time take for 1 run to complete is 0.83 mins
no. of tweets scraped for run 1 is 64500
time take for 1 run to complete is 0.84 mins
no. of tweets scraped for run 1 is 65000
time take for 1 run to complete is 0.85 mins
no. of tweets scraped for run 1 is 65500
time take for 1 run to complete is 0.86 mins
no. of tweets scraped for run 1 is 66000
time take for 1 run to complete is 0.86 mins
no. of tweets scraped for run 1 is 66500
time take for 1 run to complete is 0.87 mins
no. of tweets scraped for run 1 is 67000
time take for 1 run to complete is 0.86 mins
no. of tweets scraped for run 1 is 67500
time take for 1 run to complete is 0.87 mins
no. of tweets scraped for run 1 is 68000
time take for 1 run to complete is 0.88 mins
no. of tweets scraped for run 1 is 68500
time take for 1 run to complete is 0.89 mins
no. of tweets scraped for run 1 is 69000
time take for 1 run to complete is 0.89 mins
no. of tweets scraped for run 1 is 69500
time take for 1 run to complete is 0.89 mins
no. of tweets scraped for run 1 is 70000
time take for 1 run to complete is 0.91 mins
no. of tweets scraped for run 1 is 70500
time take for 1 run to complete is 0.91 mins
no. of tweets scraped for run 1 is 71000
time take for 1 run to complete is 0.91 mins
no. of tweets scraped for run 1 is 71500
time take for 1 run to complete is 0.92 mins
no. of tweets scraped for run 1 is 72000
time take for 1 run to complete is 0.92 mins
no. of tweets scraped for run 1 is 72500
time take for 1 run to complete is 0.93 mins
no. of tweets scraped for run 1 is 73000
time take for 1 run to complete is 0.94 mins
no. of tweets scraped for run 1 is 73500
time take for 1 run to complete is 0.94 mins
no. of tweets scraped for run 1 is 74000
time take for 1 run to complete is 0.95 mins
no. of tweets scraped for run 1 is 74500
time take for 1 run to complete is 0.96 mins
no. of tweets scraped for run 1 is 75000
time take for 1 run to complete is 0.98 mins
no. of tweets scraped for run 1 is 75500
time take for 1 run to complete is 0.99 mins
no. of tweets scraped for run 1 is 76000
time take for 1 run to complete is 0.97 mins
no. of tweets scraped for run 1 is 76500
time take for 1 run to complete is 0.97 mins
no. of tweets scraped for run 1 is 77000
time take for 1 run to complete is 1.01 mins
no. of tweets scraped for run 1 is 77500
time take for 1 run to complete is 1.07 mins
no. of tweets scraped for run 1 is 78000
time take for 1 run to complete is 1.0 mins
no. of tweets scraped for run 1 is 78500
time take for 1 run to complete is 1.01 mins
no. of tweets scraped for run 1 is 79000
time take for 1 run to complete is 1.01 mins
no. of tweets scraped for run 1 is 79500
time take for 1 run to complete is 1.06 mins
no. of tweets scraped for run 1 is 80000
time take for 1 run to complete is 1.03 mins
no. of tweets scraped for run 1 is 80500
time take for 1 run to complete is 1.03 mins
no. of tweets scraped for run 1 is 81000
time take for 1 run to complete is 1.06 mins
no. of tweets scraped for run 1 is 81500
time take for 1 run to complete is 1.07 mins
no. of tweets scraped for run 1 is 82000
time take for 1 run to complete is 1.06 mins
no. of tweets scraped for run 1 is 82500
time take for 1 run to complete is 1.08 mins
no. of tweets scraped for run 1 is 83000
time take for 1 run to complete is 1.06 mins
no. of tweets scraped for run 1 is 83500
time take for 1 run to complete is 1.06 mins
no. of tweets scraped for run 1 is 84000
time take for 1 run to complete is 1.06 mins
no. of tweets scraped for run 1 is 84500
time take for 1 run to complete is 1.08 mins
no. of tweets scraped for run 1 is 85000
time take for 1 run to complete is 1.09 mins
no. of tweets scraped for run 1 is 85500
time take for 1 run to complete is 1.09 mins
no. of tweets scraped for run 1 is 86000
time take for 1 run to complete is 1.11 mins
no. of tweets scraped for run 1 is 86500
time take for 1 run to complete is 1.09 mins
no. of tweets scraped for run 1 is 87000
time take for 1 run to complete is 1.11 mins
no. of tweets scraped for run 1 is 87500
time take for 1 run to complete is 1.11 mins
no. of tweets scraped for run 1 is 88000
time take for 1 run to complete is 1.18 mins
no. of tweets scraped for run 1 is 88500
time take for 1 run to complete is 1.2 mins
no. of tweets scraped for run 1 is 89000
time take for 1 run to complete is 1.21 mins
no. of tweets scraped for run 1 is 89500
time take for 1 run to complete is 1.22 mins
no. of tweets scraped for run 1 is 90000
time take for 1 run to complete is 1.21 mins
no. of tweets scraped for run 1 is 90500
time take for 1 run to complete is 1.21 mins
no. of tweets scraped for run 1 is 91000
time take for 1 run to complete is 1.21 mins
no. of tweets scraped for run 1 is 91500
time take for 1 run to complete is 1.22 mins
no. of tweets scraped for run 1 is 92000
time take for 1 run to complete is 1.22 mins
no. of tweets scraped for run 1 is 92500
time take for 1 run to complete is 1.24 mins
no. of tweets scraped for run 1 is 93000
time take for 1 run to complete is 1.26 mins
no. of tweets scraped for run 1 is 93500
time take for 1 run to complete is 1.27 mins
no. of tweets scraped for run 1 is 94000
time take for 1 run to complete is 1.25 mins
no. of tweets scraped for run 1 is 94500
time take for 1 run to complete is 1.25 mins
no. of tweets scraped for run 1 is 95000
time take for 1 run to complete is 1.27 mins
no. of tweets scraped for run 1 is 95500
time take for 1 run to complete is 1.29 mins
no. of tweets scraped for run 1 is 96000
time take for 1 run to complete is 1.3 mins
no. of tweets scraped for run 1 is 96500
time take for 1 run to complete is 1.29 mins
no. of tweets scraped for run 1 is 97000
time take for 1 run to complete is 1.29 mins
no. of tweets scraped for run 1 is 97500
time take for 1 run to complete is 1.3 mins
no. of tweets scraped for run 1 is 98000
time take for 1 run to complete is 1.32 mins
no. of tweets scraped for run 1 is 98500
time take for 1 run to complete is 1.32 mins
no. of tweets scraped for run 1 is 99000
time take for 1 run to complete is 1.31 mins
no. of tweets scraped for run 1 is 99500
time take for 1 run to complete is 1.34 mins
no. of tweets scraped for run 1 is 100000
time take for 1 run to complete is 1.33 mins
no. of tweets scraped for run 1 is 100500
time take for 1 run to complete is 1.32 mins
no. of tweets scraped for run 1 is 101000
time take for 1 run to complete is 1.34 mins
no. of tweets scraped for run 1 is 101500
time take for 1 run to complete is 1.35 mins
no. of tweets scraped for run 1 is 102000
time take for 1 run to complete is 1.36 mins
no. of tweets scraped for run 1 is 102500
time take for 1 run to complete is 1.36 mins
no. of tweets scraped for run 1 is 103000
time take for 1 run to complete is 1.37 mins
no. of tweets scraped for run 1 is 103500
time take for 1 run to complete is 1.39 mins
no. of tweets scraped for run 1 is 104000
time take for 1 run to complete is 1.39 mins
no. of tweets scraped for run 1 is 104500
time take for 1 run to complete is 1.39 mins
no. of tweets scraped for run 1 is 105000
time take for 1 run to complete is 1.39 mins
no. of tweets scraped for run 1 is 105500
time take for 1 run to complete is 1.4 mins
no. of tweets scraped for run 1 is 106000
time take for 1 run to complete is 1.41 mins
no. of tweets scraped for run 1 is 106500
time take for 1 run to complete is 1.42 mins
no. of tweets scraped for run 1 is 107000
time take for 1 run to complete is 1.42 mins
no. of tweets scraped for run 1 is 107500
time take for 1 run to complete is 1.45 mins
no. of tweets scraped for run 1 is 108000
time take for 1 run to complete is 1.44 mins
no. of tweets scraped for run 1 is 108500
time take for 1 run to complete is 1.44 mins
no. of tweets scraped for run 1 is 109000
time take for 1 run to complete is 1.46 mins
no. of tweets scraped for run 1 is 109500
time take for 1 run to complete is 1.45 mins
no. of tweets scraped for run 1 is 110000
time take for 1 run to complete is 1.46 mins
no. of tweets scraped for run 1 is 110500
time take for 1 run to complete is 1.46 mins
no. of tweets scraped for run 1 is 111000
time take for 1 run to complete is 1.46 mins
no. of tweets scraped for run 1 is 111500
time take for 1 run to complete is 1.48 mins
no. of tweets scraped for run 1 is 112000
time take for 1 run to complete is 1.52 mins
no. of tweets scraped for run 1 is 112500
time take for 1 run to complete is 1.51 mins
no. of tweets scraped for run 1 is 113000
time take for 1 run to complete is 1.5 mins
no. of tweets scraped for run 1 is 113500
time take for 1 run to complete is 1.52 mins
no. of tweets scraped for run 1 is 114000
time take for 1 run to complete is 1.52 mins
no. of tweets scraped for run 1 is 114500
time take for 1 run to complete is 1.54 mins

KeyboardInterrupt: ignored

In [ ]:
db_tweets

,tweetID,AuthorID,lang,created_at,text
0,1525086668348346368,1524037408047644672,None,2022-05-13 12:12:51+00:00,RT @model_svirid: #Billionaires!#Millionaires!...
1,1525086665236434945,709580995155136513,None,2022-05-13 12:12:50+00:00,RT @harrypetsanis: There is no such thing as '...
2,1525086655438327809,1151202637582348294,None,2022-05-13 12:12:48+00:00,RT @model_svirid: #Billionaires!#Millionaires!...
3,1525086632847757314,1524037408047644672,None,2022-05-13 12:12:42+00:00,#Billionaires!#Millionaires!#Sponsors!#Philant...
4,1525086553978060810,701079038,None,2022-05-13 12:12:23+00:00,RT @ANMF_MeunerieFr: 🌾Décryptage #meunerie🥖Sur...
...,...,...,...,...,...
114952,1525131356480581632,1320615780552044544,None,2022-05-13 15:10:25+00:00,RT @redjaspershopp: Just ONE day away! \nStop ...
114953,1525131355138494466,20157199,None,2022-05-13 15:10:25+00:00,"RT @GordonBrown: Tragically, we are sleepwalki..."
114954,1525131354853154816,1468522753909489664,None,2022-05-13 15:10:25+00:00,RT @ujjainumc: @ujjainumc jas made Green Net c...
114955,1525131354815479808,1001715489951842304,None,2022-05-13 15:10:25+00:00,@RockstarGames @GTASeries @_HEALTH_ so you ack...
114956,1525131354664488962,597674628,None,2022-05-13 15:10:25+00:00,RT @erdocAA: Nothing I ever learned in medical...

In [ ]:
unique1= db_tweets['tweetID'].unique()
unique2=db_tweets['text'].unique()

In [ ]:
print(len(unique1), ' ',  len(unique2))

78232   47992

In [ ]:
db_tweets.drop_duplicates(subset ="tweetID",
                     keep = False, inplace = True)

In [ ]:
db_tweets

,tweetID,AuthorID,lang,created_at,text
497,1525079862410625024,1299576198591385600,None,2022-05-13 11:45:48+00:00,RT @LapsiaSnehal: It is always nice when the C...
498,1525079857201352704,1334017178,None,2022-05-13 11:45:47+00:00,"mohali: Mohali blast: Babbar Khalsa, gangsters..."
499,1525079805674274816,1189832851371347969,None,2022-05-13 11:45:34+00:00,Polycystic Kidney Disease Symptoms\n.\nhttps:/...
808,1525086602439057408,1518709954215124993,None,2022-05-13 12:12:35+00:00,"@AmoneyResists ""Since Rand Paul (R-Moscow) jus..."
809,1525086602195787776,355844222,None,2022-05-13 12:12:35+00:00,"RT @freethought202: Gareth, aged 40, is the fi..."
...,...,...,...,...,...
114952,1525131356480581632,1320615780552044544,None,2022-05-13 15:10:25+00:00,RT @redjaspershopp: Just ONE day away! \nStop ...
114953,1525131355138494466,20157199,None,2022-05-13 15:10:25+00:00,"RT @GordonBrown: Tragically, we are sleepwalki..."
114954,1525131354853154816,1468522753909489664,None,2022-05-13 15:10:25+00:00,RT @ujjainumc: @ujjainumc jas made Green Net c...
114955,1525131354815479808,1001715489951842304,None,2022-05-13 15:10:25+00:00,@RockstarGames @GTASeries @_HEALTH_ so you ack...
114956,1525131354664488962,597674628,None,2022-05-13 15:10:25+00:00,RT @erdocAA: Nothing I ever learned in medical...

In [ ]:
#create a new df to store filtered tweets
db_cleanTweets=pd.DataFrame(columns = ['tweetID', 'tweetsORG','cleanTweets','Hashtags'])

In [ ]:
#data cleaning
nlp = spacy.load('en')  
nlp.add_pipe(LanguageDetector(), name='language_detector', last=True) 

for index, row in db_tweets.iterrows():
  #detect if english
  tweet=row['text']
  doc = nlp(tweet) 
  detect_language = doc._.language 
  #skip if its not english
  if detect_language['language']!='en':
      continue
  #find all hashtags    
  hashtag=re.findall(r'#(\w+)', tweet)
  #remove hashtags, URL, emojis, mention, number, etc 
  clean=p.clean(tweet)
  ith_row=[row['tweetID'], tweet, clean, hashtag]
  db_cleanTweets.loc[len(db_cleanTweets)] = ith_row

In [ ]:
db_cleanTweets

,tweetID,tweetsORG,cleanTweets,Hashtags
0,1525079862410625024,RT @LapsiaSnehal: It is always nice when the C...,: It is always nice when the CT and OGD correl...,"[FOAMrad, FOAMed, meded, radres, futureradres,..."
1,1525079857201352704,"mohali: Mohali blast: Babbar Khalsa, gangsters...","mohali: Mohali blast: Babbar Khalsa, gangsters...","[news, worldnews, auto, entertainment, busines..."
2,1525079805674274816,Polycystic Kidney Disease Symptoms\n.\nhttps:/...,Polycystic Kidney Disease Symptoms..,"[symptoms, polycystic, kidney, kidneydisease, ..."
3,1525086602439057408,"@AmoneyResists ""Since Rand Paul (R-Moscow) jus...","""Since Rand Paul (R-Moscow) just unilaterally ...",[]
4,1525086602195787776,"RT @freethought202: Gareth, aged 40, is the fi...",": Gareth, aged , is the first Australian to re...",[]
...,...,...,...,...
63234,1525131356480581632,RT @redjaspershopp: Just ONE day away! \nStop ...,: Just ONE day away! Stop by to support awaren...,[]
63235,1525131355138494466,"RT @GordonBrown: Tragically, we are sleepwalki...",": Tragically, we are sleepwalking into the nex...",[]
63236,1525131354853154816,RT @ujjainumc: @ujjainumc jas made Green Net c...,: jas made Green Net covering compulsory for u...,[]
63237,1525131354815479808,@RockstarGames @GTASeries @_HEALTH_ so you ack...,so you acknowledged max payne 's year annivers...,[]
63238,1525131354664488962,RT @erdocAA: Nothing I ever learned in medical...,: Nothing I ever learned in medical school sai...,[]

In [ ]:
filename='/content/data/cleaned_tweets.csv'
db_cleanTweets.to_csv(filename, index = False, encoding='utf-8')